/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 101%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

a {
  outline: 0 !important;
}

textarea {
  resize: none !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Semantic */

.ui.basic.buttons {
  border-radius: 2px;
}

.ui.menu.navbar {
  background: white;
}

.ui.menu.navbar .header.item {
  border-right: none !important;
}

.ui.menu.navbar .active.item {
  font-weight: normal;
}

/* Vertical Menu */

.ui.vertical.menu {
  width: 100%;
}

/* Border radius */
.ui.menu,
.ui.segments,
.ui.cards > .card,
.ui.card {
  border-radius: 2px;
}
