<template name="main">
  <div class="ui card">
    <div class="content">
      <i class="protect icon"></i> Card
    </div>
    <div class="image" id="canvas"></div>
    <div class="content">
      <div class="header">Demo</div>
      <div class="meta">
        <a class="group">#hashtag</a>
        <a class="group">#foo</a>
        <a class="group">#bar</a>
      </div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat purus eu luctus sollicitudin.</div>
    </div>
    <div class="extra content">
      <button class="ui tiny basic icon button">
        <i class="cancel icon"></i> Cancel
      </button>
      <button class="ui right floated tiny basic icon button">
        <i class="save icon"></i> Save
      </button>
    </div>
  </div>
</template>
